/* this css file will only style the homepage of our site */
/* -------------------------------links------------------------------ */

.labs h2{
  text-align: center;
  padding-bottom: 15px;
}

ul{
  
  text-align:center;
  list-style-type:none;

}

.labs {
  background-color: orange;
  padding: 10px;
  margin-top: 10px;
}

li {
  background-color: pink;
  padding: 10px;
  margin: 10px;
}

li:hover {
  background-color: black;
  padding: 10px;
  margin: 10px;
  transition: all 0.6s ease-out;
}

/* -------------------------------link colors------------------------------ */

a{
  color:white;
}

a:hover{
  color:rgb(82, 177, 255);
}
a:visited{
  color:rgb(163, 204, 238);
}

a:visited:hover {
  color: rgb(82, 177, 255);
}
/* adapted code from w3schools */

/* -------------------------------heading------------------------------ */

#heading{
  text-align: center;
  padding-bottom: 50px;
}

/* -------------------------------ocean border------------------------------ */

body{
  background-image: url("img/ocean.gif");
  background-repeat: no-repeat;
  background-size:cover;
}

/* adapted code from w3schools */

/* -------------------------------big section------------------------------ */

#content{
  padding-bottom: 100px;
  margin: 100px 30px 100px 30px;
  border:dotted 2px white;
  background-color: #c2e4f1;
  border-radius: 10%;

}

/* -------------------------------abt me section------------------------------ */

.abtme{
  display:grid;
  width: 160%;
  align-items: normal;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  position:relative;
}

/* code adapted from https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html */

.text{
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #aad0df;
  border-radius: 20%;
}

.text p{
  font-size: 30px;
}

.text h2{
  font-size: 40px;
}

span {
  font-weight: bold;
  font-style: italic;
}

.abtme #icon {
  max-width: 200px;
  border-radius: 50%;
  margin: auto;
  
}

#icon:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* code adapted from w3schools - https://www.w3schools.com/howto/howto_css_flip_image.asp */

@keyframes spin{ 
  0% {
    transform: rotate(0deg), bottom: 0px;
  }
  50% {
    transform: rotate(180deg), bottom: 100px;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100);
  }
}

#icon {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

/* code adapted from https://www.w3schools.com/css/css3_animations.asp#gsc.tab=0 */

.abtme #star {
  position: absolute;
  max-width: 100px;
  left: 1620px;
  top:-15px
}

.abtme #image {
  max-width: 300px;
  max-height: 500px;
  border-radius: 20%;
  padding: 10px;
  margin-left: 10px;
  
}

/* -------------------------------text section------------------------------ */

p {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

h2 {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}