/* this css file will only style the homepage of our site */

.me {
  display:block;
  margin: auto;
  max-width: 300px;
  
}

ul{
  
  text-align:center;
  list-style-type:none;

}
#heading{
  text-align: center;
}
#content{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border:dotted 2px white;
  background-image: url("ocean.gif");
  background-repeat: no-repeat;
}

#abtme{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #aad0df;
}

a{
  color:white;
}

a:hover{
  color:rgb(82, 177, 255);
}
a:visited{
  color:rgb(163, 204, 238);
}

a:visited:hover {
  color: rgb(82, 177, 255);
}
