/* this css file will only style the homepage of our site */

/* -------------------------------image------------------------------ */

.me {
  margin: auto;
  max-width: 300px;
  border-radius: 50%;
  
}

#me {
  float:right;
}

/* -------------------------------links------------------------------ */

ul{
  
  text-align:center;
  list-style-type:none;

}

.labs {
  background-color: orange;
  padding: 10px;
  margin-top: 10px;
}

li {
  background-color: pink;
  padding: 10px;
  margin: 10px;
}

li:hover {
  background-color: black;
  padding: 10px;
  margin: 10px;
  transition: all 0.6s ease-out;
}

/* -------------------------------link colors------------------------------ */

a{
  color:white;
}

a:hover{
  color:rgb(82, 177, 255);
}
a:visited{
  color:rgb(163, 204, 238);
}

a:visited:hover {
  color: rgb(82, 177, 255);
}

/* -------------------------------heading------------------------------ */

#heading{
  text-align: center;
}

/* -------------------------------ocean border------------------------------ */

body{
  background-image: url("img/ocean.gif");
  background-repeat: no-repeat;
  background-size:cover;
}

/* -------------------------------big section------------------------------ */

#content{
  text-align: center;
  padding: 10px;
  margin: 30px 30px 30px 30px;
  border:dotted 2px white;
  background-color: #c2e4f1;
  border-radius: 10%;

}

/* -------------------------------abt me section------------------------------ */

#abtme{
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #aad0df;
  border-radius: 20%;
}
