.minor-section p {
    margin: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic bold;
}

.minor-section p:hover {
    font-size: 40px;
    color:black;
}

.text {
    max-width: 70%; /* Limit maximum width of text blocks */
    padding: 10px;
    border-radius: 5px;
}

.text:nth-child(odd) {
    color: red;
    margin-left: auto; /* Shift odd messages to the right */
}

.text:nth-child(even) {
    color:white;
}